.ProjectsCard {
  display: flex;
  gap: 5%;
}
.ProjectsCard:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.ProjectsCard__media {
  flex: 1.1;
}
.ProjectsCard__media > iframe {
  border: none;
  width: 100%;
  aspect-ratio: calc(16 / 9);
}

.ProjectsCard__text {
  flex: 1;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.ProjectsCard__text > h2 {
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
}
.ProjectsCard__text > p {
  line-height: 1.5rem;
}
