#RecentWork {
}

#RecentWork__inner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#RecentWork__title {
  font-size: 2rem;
}

.RecentWork__card {
  display: flex;
  gap: 3%;
}
.RecentWork__card:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.RecentWork__card__media {
  flex: 1.2;
}
.RecentWork__card__media > iframe {
  border: none;
  width: 100%;
  aspect-ratio: calc(16 / 9);
}

.RecentWork__card__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
