#SMIcons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#SMIcons > a > img {
  height: 2.5rem;
  aspect-ratio: 1;
  transition: opacity 0.3s ease;
}

#SMIcons > a:hover > img {
  opacity: 0.6;
}
