:root {
  --splash-bg-overflow: -20%;
}

#Splash {
  min-height: calc(100vh - var(--navbar-height-big));
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#Splash__background {
  position: absolute;
  z-index: -99;
  top: var(--splash-bg-overflow);
  left: var(--splash-bg-overflow);
  right: var(--splash-bg-overflow);
  bottom: var(--splash-bg-overflow);
  display: flex;
  opacity: 0.1;
  transform: rotate(-5deg);
}
#Splash__background > div:nth-child(1) {
  flex: 5;
  background-color: blue;
}
#Splash__background > div:nth-child(2) {
  flex: 8;
}

#Splash__inner {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12%;
}

/*****************************/
/* IMAGE AND BUTTONS ON LEFT */
/*****************************/

#Splash__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

#Splash__photo {
  position: relative;
  width: 25rem;
  aspect-ratio: 1;
}
#Splash__photo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/profile-photo.jpg');
  background-size: cover;
  filter: grayscale(100%) contrast(1.3) brightness(1.2);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation: morph 50s ease infinite;
}
#Splash__photo::after {
  content: '';
  position: absolute;
  z-index: -9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(green, lightblue);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transform: rotate(45deg);
  animation: morph 40s ease reverse infinite;
}

@keyframes morph {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25% {
    border-radius: 70% 30% 30% 70% / 30% 30% 70% 70%;
  }
  50% {
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
  }
  75% {
    border-radius: 30% 70% 70% 30% / 70% 70% 30% 30%;
  }
  1000% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}

/*****************/
/* TEXT ON RIGHT */
/*****************/

#Splash__right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
}

#Splash__right > div > h3 {
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
}

#Splash__right > div > h2 {
  margin-top: 2rem;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

#Splash__right > div > p {
  margin-top: 0.3rem;
  font-size: 1.05rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
